hr {
  width: 100%;
  align: center;
  size: 100;
  background-color: black;
}

h1 {
 color:pink;
 text-align:center;
 font-family: arial;
 font-size:50px;
}

body {
  background-color:lavender;
}

h2 {
 color:plum;
 text-align:center;
 font-family: arial;
 font-size:35px;
}

h3 {
 color:lightskyblue;
 text-align:center;
 font-family: arial;
 font-size:25px;
 font-style: oblique;
}

h4 {
 color:white;
 text-align:center;
 font-size:20px;
}

h5 {
 color:lightsalmon;
 font-weight:bold;
 font-family: arial;
 font-size:20px;
}

h6 {
  color:black;
  font-family: arial;
  font-size: 16px;
}

h7 {
  color:orange;
}

p {
  color:orange;
  font-size:16px;
  font-style: oblique;
  font-family: verdana;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
